<a ui-sref="home"> << Voltar</a> <a ui-sref="editCurriculum">Editar >></a>
<h2>Dados pessoais</h2>
<p>{{curriculum.nome}}<br>
{{curriculum.nacionalidade}}, {{curriculum.idade}} anos, {{curriculum.estadoCivil}}<br>
Telefone: {{curriculum.telefone}}<br>
E-mail: {{curriculum.email}}</p>
<h2>Endereço</h2>
<p>Rua Quatro, nº. 85 – Monte Carlo – CEP. 37.550-000<br>
Pouso Alegre – MG</p>
<h2>Formação</h2>
<ul>
	<li>Graduando em Sistemas de Informação – UNIVÁS – Universidade do Vale do Sapucaí – Pouso Alegre – MG</li>
	<li>Graduação em Ciência da Computação Incompleta – UNIFEI – Universidade Federal de Itajubá – Itajubá – MG</li>
</ul>
<h2>Experiência Profissional</h2>
<ul>
	<li>07/2015 - Atual – INATEL – Instituto Nacional de Telecomunicações<br>
	Estágio em Desenvolvimento de Software</li>
</ul>
<h2>Qualificações</h2>
<ul>
	<li>Inglês avançado</li>
	<li>Spring Framework</li>
	<li>Ionic Framework</li>
	<li>AngularJS</li>
</ul>
